* {
    box-sizing: border-box;
}
:root {
    --primary: #222831;
    --secondary: #393e46;
    --tertiary: #00adb5;
    --quarternary: #EEE;
}

body {
    background: var(--primary);
}

header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: var(--quarternary);
    padding: 30px;
}

p {
    color: var(--quarternary);
    text-align: center;
}

.highScore a{
    padding: 30px 60px;
    text-decoration: none;
    color: var(--quarternary);
}

.timer {
    padding: 30px 60px;
}
.choiceBox {
    display: flex;
    width: 100%;
    justify-content: center;
}
.choices {
    display: flex;
    text-align: center;
    background-color: var(--tertiary);
    border-radius: 20px;
    cursor: pointer;
    width: 20%;
    justify-content: center;
    margin: 5px;
}
